
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href={% url 'landing' %}>HELLO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={% url 'profile' %}>Profile</a>
    </li>
      <li>
          <a class="nav-link" href={% url 'subscribe' %}>Subscribe</a>
      </li>
  </ul>
</nav>