<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'lab_10/icons/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'lab_10/css/container.css' %}">
    <title>Subscribe</title>
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
</header>
<br>
<br>
<div class="d-md-flex flex-row">
<div class="container p-2 ml-auto">
    <div class="wrap">
        <div class="form-title">
				<span class="form-title-1">
					Hei, Subscribe here!
				</span>

				<span class="form-title-2">
					Please complete the form below :)
				</span>
			</div>
        <div>
            <form class="contact-form validate-form" method="post" novalidate>
                {% csrf_token %}
                <div class="wrap-input validate-input" data-validate="Name is required">
                    <span class="label-input">{{ form.name.label_tag }}</span>
                    {{ form.name }}
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Valid email is required" data-validate2="Email already registered">
                    <span class="label-input">{{ form.email.label_tag }}</span>
                    {{ form.email }}
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input" data-validate="Password is required">
                    <span class="label-input">{{ form.password.label_tag }}</span>
                    {{ form.password }}
                    <span class="focus-input"></span>
                </div>
                <div class="container-contact-form-btn">
                    <button class="contact-form-btn" type="submit" id="btnsub">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="contain p-2 ml-auto">
</div>
</div>
{% comment %}
Source code design by https://colorlib.com/wp/template/contact-form-v15/
{% endcomment %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></body>
<script src="{% static "lab_10/js/colorlib.js" %}"></script>
<script src="{% static "lab_10/js/validateStory10.js" %}"></script>
<script src="{% static "lab_10/js/challengeLab10.js" %}"></script>
</body>
</html>