<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Profile</title>
</head>
<body>
<header>
    {% include 'partials/navbar.html' %}
</header>
<br>
<br>
<h2 class="isi">Nama: Michael WH</h2>
    <div>
        <img src='https://gitlab.com/michael09/ppw2018/raw/master/lab_1/static/media/UserPhoto.jpg' width="250" height="300" class='rounded isi' >
    </div>
    <div class="isi">
        NPM: 1706039944 <br>
        Umur: 19 <br>
        Tempat kuliah: CSUI <br>
        Hobi :
        <br>
        <ul>
            <li>
                Makan
            </li>
            <li>
                Main
            </li>
        </ul>
    </div>
    <br>

</body>
</html>